@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "REGENERATION TEAM 2";
}
<h1>@ViewData["Title"]</h1>

@*<p>  REGENERATION TEAM 2  <br />*@
    
    Cloud Tools and Technology powered by Microsoft <br /> <br />
    @*<a href="https://www.linkedin.com/in/antonios-giakoumis/">Giakoumis Antonios</a> <br />
    <a href="https://www.linkedin.com/in/nickkaragiannis/">Karagianis Nikolaos</a> <br />        
    <a href="https://www.linkedin.com/in/ioanna-kartsonaki/">Kartsonaki Ioanna</a> <br />
    <a href="https://www.linkedin.com/in/georgeliatsos/">Liatsos Georgios</a> <br />*@




<div class="d-flex justify-content-center mt-2 ">

    <div class="card mr-2" style="width: 18rem;">
        <img class="card-img-top"  src="~/Antonis.png" alt="Card image cap" width="200" height="290">
        <div class="card-body">
            <h5 class="card-title">Giakoumis Antonios</h5>

            <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/antonios-giakoumis/"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>

    <div class="card mr-2" style="width: 18rem;">
        <img class="card-img-top" src="~/Nikos.png" alt="Card image cap" width="200" height="290">
        <div class="card-body">
            <h5 class="card-title">Karagianis Nikolaos</h5>
            
            <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/nickkaragiannis/"><i class="fab fa-linkedin-in"></i></a>       
        </div>
    </div>

     <div class="card mr-2" style="width: 18rem;">
         <img class="card-img-top" src="~/Ioanna.png" alt="Card image cap" width="200" height="290">
         <div class="card-body">
            <h5 class="card-title">Kartsonaki Ioanna</h5>
            
            <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/ioanna-kartsonaki/"><i class="fab fa-linkedin-in"></i></a>       
        </div>
    </div>

     <div class="card mr-2" style="width: 18rem;">
         <img class="card-img-top" src="~/Giorgos.png" alt="Card image cap" width="200" height="290">
         <div class="card-body">
            <h5 class="card-title">Liatsos Georgios</h5>
            
            <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/georgeliatsos/"><i class="fab fa-linkedin-in"></i></a>       
        </div>
    </div>

</div>

