@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "REGENERATION TEAM 2";
}
<h1>@ViewData["Title"]</h1>

@*<p>  REGENERATION TEAM 2  <br />*@
    
    Cloud Tools and Technology powered by Microsoft <br /> <br />
    @*<a href="https://www.linkedin.com/in/antonios-giakoumis/">Giakoumis Antonios</a> <br />
    <a href="https://www.linkedin.com/in/nickkaragiannis/">Karagianis Nikolaos</a> <br />        
    <a href="https://www.linkedin.com/in/ioanna-kartsonaki/">Kartsonaki Ioanna</a> <br />
    <a href="https://www.linkedin.com/in/georgeliatsos/">Liatsos Georgios</a> <br />*@




<div class="d-flex justify-content-center mt-2 ">

    <div class="card mr-2" style="width: 18rem;">
        <img  class="card-img-top  " src="https://images-ext-2.discordapp.net/external/3cCXDO3hstgGeDNn9TUWPbLw620_2FAM5Ga98QA0shc/https/www.indiafilings.com/learn/wp-content/uploads/2019/09/Community-Investment-Fund.jpg?width=906&height=604" alt="Card image cap" width="200" height="210">
        <div class="card-body">
            <h5 class="card-title">Giakoumis Antonios</h5>
            <p class="card-text">Make your dream projects come true</p>
            <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/antonios-giakoumis/"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>

    <div class="card mr-2" style="width: 18rem;">
        <img height="210" class="card-img-top .img-fluid. width=200px height=100px" src="https://images-ext-2.discordapp.net/external/3cCXDO3hstgGeDNn9TUWPbLw620_2FAM5Ga98QA0shc/https/www.indiafilings.com/learn/wp-content/uploads/2019/09/Community-Investment-Fund.jpg?width=906&height=604" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Karagianis Nikolaos</h5>
            <p class="card-text">Fund the most creative Projects out there</p>
            <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/nickkaragiannis/"><i class="fab fa-linkedin-in"></i></a>       
        </div>
    </div>

     <div class="card mr-2" style="width: 18rem;">
        <img height="210" class="card-img-top .img-fluid. width=200px height=100px" src="https://images-ext-2.discordapp.net/external/3cCXDO3hstgGeDNn9TUWPbLw620_2FAM5Ga98QA0shc/https/www.indiafilings.com/learn/wp-content/uploads/2019/09/Community-Investment-Fund.jpg?width=906&height=604" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kartsonaki Ioanna</h5>
            <p class="card-text">Fund the most creative Projects out there</p>
            <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/ioanna-kartsonaki/"><i class="fab fa-linkedin-in"></i></a>       
        </div>
    </div>

     <div class="card mr-2" style="width: 18rem;">
        <img height="210" class="card-img-top .img-fluid. width=200px height=100px" src="https://images-ext-2.discordapp.net/external/3cCXDO3hstgGeDNn9TUWPbLw620_2FAM5Ga98QA0shc/https/www.indiafilings.com/learn/wp-content/uploads/2019/09/Community-Investment-Fund.jpg?width=906&height=604" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Liatsos Georgios</h5>
            <p class="card-text">Fund the most creative Projects out there</p>
            <a class="btn btn-primary btn-block" href="https://www.linkedin.com/in/georgeliatsos/"><i class="fab fa-linkedin-in"></i></a>       
        </div>
    </div>

</div>

