@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "REGENERATION TEAM 2";
}
<h1>@ViewData["Title"]</h1>

@*<p>  REGENERATION TEAM 2  <br />*@
    
    Cloud Tools and Technology powered by Microsoft <br /> <br />
    <a href="https://www.linkedin.com/in/antonios-giakoumis/">Giakoumis Antonios</a> <br />
    <a href="https://www.linkedin.com/in/nickkaragiannis/">Karagianis Nikolaos</a> <br />        
    <a href="https://www.linkedin.com/in/ioanna-kartsonaki/">Kartsonaki Ioanna</a> <br />
    <a href="https://www.linkedin.com/in/georgeliatsos/">Liatsos Georgios</a> <br />

</p>