@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Human</h1>
    <h1 class="display-4">Are you a Creator or a Backer?</h1>
    <div class="text-center">
        <h1 class="display-4"></h1>

        <a href="/Creator/" class="btn btn-info" role="button">CREATOR</a>
        <a href="/Project/" class="btn btn-info" role="button">BACKER</a>
    </div>


</div>
