@using RegenTry3.Model
@model ProjectImVi

<form asp-action="Create" enctype="multipart/form-data">


    @*<div>
            Name
        </div>
        <div>
            <input form="Project.Title" placeholder="Title" />
        </div>
         <div>
            Description
        </div>
        <div>
            <input form="Project.Description" placeholder="Description" />
        </div>
         <div>
            Category
        </div>
        <div>
            <input form="Project.Category" placeholder="Category" />
        </div>*@

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Title:</label>
            <input type="text" class="form-control" id="email" name="Project.Title" placeholder="E.g.(Unity Project 101)">
        </div>
        <div class="form-group col-md-6">
            <label>Description:</label>
            <input type="text" class="form-control" id="description" name="Project.Description" placeholder="E.g.(description)">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label>Post:</label>
        <input type="text" class="form-control" id="post" name="Project.Posts" placeholder="E.g. Just started">
    </div>

    <div class="form-group">
        <label>Category:</label>
        <select name="Project.Category" class="form-control form-control-sm" placeholder="Category" asp-items="@(Html.GetEnumSelectList<Category>())"></select>
    </div>

    @*    <div class="form-row">

        <div class="input-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text">Videos:</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input " id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>

        <div class="input-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text">Photos:</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        </div>*@

    <dl>
        <dt>
            <label asp-for="ProjectImage"></label>
        </dt>
        <dd>
            <input asp-for="ProjectImage" type="file">
            <span asp-validation-for="ProjectImage"></span>
        </dd>
    </dl>


    <div class="d-flex justify-content-center">
        <button type="submit" value="Create Project" class="btn btn-primary mt-2">Create</button>
    </div>

</form>










@*<label>
        Title
    </label>
    <div>
        <input type="text" class="form-control form-control-sm" name="Title" placeholder="Title" />
    </div>

    <label>
        Description
    </label>
    <div>
        <input type="text" class="form-control form-control-sm" name="Description" placeholder="Description" />
    </div>

    <label>
        Category
    </label>
    <div>
        <select name="Category" class="form-control form-control-sm" placeholder="Category" asp-items="@(Html.GetEnumSelectList<Category>())"></select>
    </div>

    <label>
        Photos
    </label>

    <div>
        <input type="file" name="Photos" placeholder="Photos" />
    </div>

    <label>
        Videos
    </label>
    <div>
        <input type="file" name="Videos" placeholder="Videos" />
    </div>


    <div class="form-group">
        <input type="submit" value="Create Project" class="btn btn-primary" />
    </div>*@