<h4>Update Post</h4>

<form asp-action="UpdatePost">
    <div>
        <label for="newPost"> New Post</label>
        <input name="newPost" id="newPost" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" value="newPost" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Return</a>
</div>