@{
    ViewData["Title"] = "New Reward";
}
@using RegenTry3.Model

<form asp-action="Create">

    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="" name="Reward.Title" aria-describedby="emailHelp" placeholder="Get some hard copied pdf">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="" name="Reward.Description" placeholder="A fine looking reward">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Price</label>
        <input type="text" class="form-control" id="" name="Reward.Price" placeholder="27$">
    </div>
    @*<button type="submit" class="btn btn-primary">Submit</button>*@
    <input type="submit" value="Add Reward" class="btn btn-success" />

    @*<div>
            Title
        </div>
        <div>
            <input type="text" name="Title" placeholder="Title" />
        </div>

        <div>
            Description
        </div>
        <div>
            <input type="text" name="Description" placeholder="Description" />
        </div>

        <div>
            Price
        </div>
        <div>
            <input type="text" name="Price" placeholder="Price" />
        </div>


        <div class="form-group">
            <input type="submit" value="Add Reward" class="btn btn-primary" />
        </div>*@


</form>










