
@model IEnumerable<RegenTry3.Model.Backer>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Profile</h1>

<button onclick="loadData()"> Load </button>

<div>
    <h4></h4>
    <hr />
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>           
        </tr>
    }
</div>