@{
    ViewData["Title"] = "Creator Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Creator</h1>

    <a href="/Project/Create/" class="btn btn-info" role="button">Add New Project</a>
</div>