@using RegenTry3.Model

<h1> Who are you? </h1>

<form asp-action="Log">
<div>
    <input type="text" class="form-control form-control-sm" name="Username" placeholder="Username" />
</div>

<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary">Go!</button>
</div>
</form>