

<h1>View All Creators</h1>

<button onclick="loadCreators()">View all</button>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
        </tr>
    </thead>

</table>
<div id="Results"></div>

